h1 {
  color: #333;
  font-size: 24px;
}

p {
  color: #000000;
  font-size: 16px;
}

a {
  color: #007bff;
  background-color: #000000;
  text-decoration: none;
}

.primary-button {
  background-color: #007bff;
  color: #A020F0;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

  color: #007bff;
  border: 1px solid #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(253, 0, 255, 1);
  background-image: linear-gradient(45deg, rgba(253, 0, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);;
}
}

#header {
  background-color: #FFFF00;
  color: #000000;
  padding: 20px;
}

#footer {
  background-color: #FFFF00;
  color: #000000;
  padding: 20px;
}
