body {
	margin: 0px;
	padding: 0px;
	background-color: rgba(253, 0, 255, 1);
background-image: linear-gradient(45deg, rgba(253, 0, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.container {
	border: 1px solid black;
}

.header {
	height: 150px;
	background: #ff00ff;
}

.header-format-text {
	padding-top: 50px;
	font-family: verdana;
	text-align: center;
	color: black;
	Font-size: 40px;
}

.nav {
	height: 50px;
	background-color: #ff00ff;
	clear: both;
}

.nav-text-format {
	float: left;
	min-width: 50px;
	height: 25px;
	font-size: 18px;
	padding: 10px;
	border-right: 2px dotted #ff00ff;
	opacity: 0.8;
}

.nav-text-format:hover{
	background-color: #ff00ff;
	color: black;
	cursor: pointer;
}

.left {
	width: 135px;
	float: left;
	background: #ff00ff;
	min-height: 495px;
	
}

.main {
	width: 480px;
	float: left;
	background: #ff00ff;
}

.right{
	background-color: gray;
	float: left;
	width: 135px;
	min-height: 495px;
}



.footer {
	clear: both;
	background: #ff00ff;
}



a {
	color: white;
	text-decoration: none;
}

a:hover{
	color: white;
}

a:visited{
	color: white;
}

a:active{
	color: white;
}







.format-menu-aside {
	font-size:18px;
	height:15px;
	padding: 10px;
	border-bottom: 2px dotted #ff00ff;
}

.format-menu-aside:hover
{
	background-color: #ff00ff;
	color: white;
	cursor: pointer;
}
